.container {
  width: 500px;
  height: 300px;
  border: solid pink;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 20px;
}
.button {
  width: 70px;
  height: 30px;
}
